/* body{
     background-color: black; 
} */
#title {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}
#subtitle {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(228, 228, 228);
  margin-bottom: 40px;
}
.recomreq {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.highlight {
  background-color: #e60704;
  width: fit-content;
}
.para {
  color: #bcb6b6;
  font-size: medium;
  padding-top: 15px;
  line-height: 28px;
  margin-bottom: 10px;
}
#minireq {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.highlightmini {
  background-color: #342525;
  width: fit-content;
}

body,
html {
  background-color: var(--background);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#title {
  text-align: center;

  color: white;
}
#subtitle {
  text-align: center;

  color: rgb(228, 228, 228);
  margin-bottom: 40px;
}
.recomreq {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.highlight {
  background-color: #e60704;
  width: fit-content;
}
.para {
  color: #bcb6b6;
  font-size: medium;
  padding-top: 15px;
  line-height: 28px;
  margin-bottom: 10px;
}
#minireq {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.highlightmini {
  background-color: #342525;
  width: fit-content;
}

#buynow {
  background: #700202;
  color: rgb(197, 195, 195);
  padding: 10px 20px;
  border: #8a0202;
  outline: none;
  margin-left: 20px;

  letter-spacing: 1px;
  font-size: 15px;
}
#buynow:hover {
  background: #e60704;
  color: white;
}
.price {
  box-shadow: 1px 1px 3px white;
  /* border: 1px solid #707070; */
  border: none;
  width: fit-content;
  background-color: black;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans";
}

/* ----------About This Game--------- */
.titletext {
  color: white;
  text-align: center;

  margin-top: 25px;
  margin-bottom: 30px;
}

#about {
  background-color: #aa0000;
  margin-top: 50px;
  margin-bottom: 65px;
  padding: 40px 0px 54px 0px;
}
#para {
  margin-top: 50px;
}
.residentpara {
  color: #cfcece;
  font-size: 20px;
  text-align: justify;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 28px;
  font-family: "Times New Roman", Times, serif;
}
#gallerybackground {
  background-color: #0000001e;
  padding-top: 5px;
}

.gallery {
  margin: auto; /*parent m thone chin lo*/
  display: flex;
  justify-content: center;
  align-items: center; /*daung luk center kya*/
  padding-left: 15px;
  padding-right: 13px;
}

.gallery > div {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.gallery > div > div {
  width: 100%;
}
.gallery > div > div > div {
  margin-right: 2px;
  margin-bottom: 2px;
}
.gallery img {
  transition: transform 0.2s;
}
.gallery img:hover {
  transform: scale(1.2);
}
.addinfo {
  color: white;

  margin-top: 37px;
  margin-bottom: 15px;
}
#datetitle {
  color: #ececec;

  font-size: 20px;
}
#date {
  color: #e6e4e4;
  font-family: "Times New Roman", Times, serif;
}
#calendar {
  color: #e6e4e4;
  margin-right: 5px;
}
#age {
  margin-right: 5px;
  color: #e6e4e4;
}
#mode {
  margin-right: 5px;
  color: #e6e4e4;
}
.calensub {
  color: #bcb6b6;
  font-size: 15px;
}
.agesub {
  color: #bcb6b6;
  font-size: 15px;
  padding-left: 12px;
}
.modesub {
  color: #bcb6b6;
  font-size: 15px;
  padding-left: 12px;
}

/* .row > div {
  margin-bottom: 40px;
} */

/* ----------You May Also Like--------- */
.youmayalso {
  color: white;
  margin-bottom: 20px;
}
#background {
  border: 2px solid #aa0000;
  margin-right: 20px;
  padding: 2%;
}
/* for responsive center rows*/

#card > div {
  /* margin-top: 11px;
  background-color: rgba(128, 128, 128, 0.192);
  width: fit-content; */
  border-radius: 5px;
  transition: transform 0.2s;
}
#card h5 {
  color: white;

  /* padding-bottom: 15px; */
  padding-top: 5px;
}
#card img {
  border: 2px solid rgb(133, 132, 132);
}
#firstcard {
  margin-left: 20px;
  margin-right: 10px;
}
#secondcard {
  margin-right: 10px;
  margin-left: 20px;
}
#thirdcard {
  margin-left: 20px;
}
/* ............ */
/* card hover */
#card > div:hover {
  background-color: #e60704;
}

.youmayalsolike {
  padding: 5px;
  border-radius: 5px;
  transition: transform 0.2s;
}
.card {
  background-color: rgba(128, 128, 128, 0.192);
}
.youmayalsolike .card {
  padding: 10px;
}
img.card-img-top.img-responsive {
  max-height: 150px;
  min-height: 150px;
  object-fit: cover;
  width: 100%;
  object-position: top;
}
/*---- Registration form------ */

#signup {
  color: rgb(226, 226, 226);
  margin-left: 25%;
  margin-top: 50px;
}
#gamehub h1 {
  color: #e60704;
}
#gamehub h5 {
  color: #aa0000;
  margin-bottom: 4%;
}
.form-group > input {
  border: 1px solid white;
  border-radius: 4px;
  height: 38px;
}
/* .formbuttons{
      display: flex;
      justify-content:center;
  } */
#btn-register {
  background-color: #e608049d;
  color: rgb(194, 191, 191);
  font-size: medium;

  outline: none;
  margin-top: 5px;
}
#btn-register:hover {
  background-color: #b90303;
  color: white;
}
/* #btn-cancel{
      font-size: medium;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      outline: none;
      margin-top: 10px;
      background-color: black;
      color:gray;
  }
  #btn-cancel:hover{
      background-color:rgba(128, 128, 128, 0.534);
      color:white; 
  } */
#accountcheck {
  color: rgb(170, 170, 170);

  text-align: center;
  letter-spacing: 1px;
  word-spacing: 5px;
  margin-top: 3%;
}
#accountcheck > a {
  color: gray;
  margin-left: 10px;
}
#accountcheck > a:hover {
  color: rgb(231, 229, 229);
}

/* ----Log In----- */
#gamehubtitle {
  color: #e60704;
}
#gamehubsubtitle {
  color: #aa0000;
}
#logincontainer {
  margin-top: 4%;
}
#loginbutton > button {
  background-color: #e608049d;
  color: rgb(194, 191, 191);
  font-size: medium;

  outline: none;
  margin-top: 5px;
}
#loginbutton > button:hover {
  background-color: #b90303;
  color: white;
}
#checkboxtitle {
  color: rgb(170, 170, 170);
  margin-bottom: 20px;
}
#passrecover > a {
  color: gray;

  margin-right: 10px;
}
#passrecover > a:hover {
  color: rgb(231, 229, 229);
}

#passrecover {
  margin-top: 15%;
}

#overlay {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% {
    transform: rotate(360deg);
  }
}
.is-hide {
  display: none;
}
/* BOB  */
.abouthisgame img {
  max-height: 200px;
  min-height: 200px;
  object-fit: fill;
}
.abouthisgame {
  padding: 3px 3px;
}
.gallerycontainer {
  padding: 20px;
}
div#para p {
  color: #cfcece;
  font-size: 20px;
  text-align: justify;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 28px;
  font-family: "Times New Roman", Times, serif;
}

#firstcard img {
  max-height: 150px;
  min-height: 150px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Responsive */

@media (max-width: 992px) {
  .singledescriptioncontainer {
    display: flex;
    flex-direction: column;
  }
  .singledescription {
    order: 1;
  }
  .singleimage {
    order: 0;
  }
  #para {
    margin-top: 0px;
    margin-bottom: 25px;
  }
  #background {
    padding: 2% 2% 5% 2%;
    margin-bottom: 30px;
  }
}

@media (max-width: 426.98px) {
  .singleimage img {
    max-width: 300px;
    margin: 0 auto;
  }
  .abouthisgame img {
    max-height: 130px;
    min-height: 130px;
  }
  #datetitle {
    font-size: 15px;
  }
  .youmayalsolike {
    width: 50%;
  }
}

.modal {
  position: fixed;
  z-index: 10000; /* 1 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal.is-visible {
  visibility: visible;
}
.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  visibility: hidden;
  opacity: 0;
}
.modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}
.modal-wrapper {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}
.modal-transition {
}
.modal.is-visible .modal-transition {
  animation-name: slideIn;
  animation-duration: 0.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}
/* modal popup - confirm */
.modal-confirm .modal-wrapper {
  position: relative;
  margin: 0 10px;
  top: 0;
  bottom: auto;
  padding: 35px 0 0;
  border-radius: 4px;
}
.modal-wrapper h1 {
  font-size: 1.8rem;
  padding-bottom: 35px;
}
.modal-wrapper .modal-content {
  color: #666;
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
  line-height: 2.3;
  text-align: center;
}
.modal-wrapper .btn-list {
  width: 100%;
}
.modal-wrapper .btn-list li {
  height: 5rem;
  line-height: 5rem;
  color: #fff;
  font-size: 1.6rem;
  width: 50%;
  text-align: center;
}
.modal-wrapper .btn-list li.btn-only {
  width: 100%;
  position: relative;
}
.modal-wrapper .btn-list li.btn-gr {
  background: #595959;
}
.modal-wrapper .btn-list li.btn-bl {
  background: #3673ee;
}

.count-wrap {
  position: absolute;
  right: 10%;
  top: 35%;
  width: 25px;
  height: 25px;
}

#loader {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;

  border: 2px solid #fff;
  border-radius: 50%;
  border-top: 2px solid #2f7bf5;
  width: 21px;
  height: 21px;
  animation: spin 0.8s linear infinite;
}
.n {
  display: flex;
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#adadtime {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.modal.fade #adadtime {
  transform: translate(0, -100%) !important;
}

.modal.in #adadtime {
  transform: translate(0, 0) !important;
}

#ad_close_custom {
  display: none;
}

.modal-body {
  text-align: center;
}
@media (max-width: 425px) {
  .modal-body img {
    text-align: center;
    width: 100%;
  }
}
.modal-content {
  background-color: var(--white);
}
