ErrorDocument 404 https://staging.gamehubmyanmar.com/404

Options All -Indexes

RewriteEngine on

RewriteRule ^(index|registration|login|post|search|404|subscription|logout)$ $1.php [NC,L]

RewriteRule ^post/(.*)$ post.php?p_slug=$1 [NC,L] 

RewriteRule ^category/(.*)$ categorypage.php?category=$1 [NC,L]

RewriteRule ^forgotpassword/(.*)$ forgotpassword.php?forgot=$1 [NC,L]